*{
	padding: 0px;
	margin: 0px;
	box-sizing: content-box;
}

ul{
	color: blue;
	font-weight: bold;
	text-transform: uppercase;
}

h2{
	color:blue;
	font-size: 30px;
}


ol{
	color: blue;
	font-weight: bold;
	list-style-type: none;
	text-transform: uppercase;
}

tr td ul li{
 	display: block;
 	position: relative;
 }
table{
 	margin: 50px;
 }

body{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 150px 50px 100px 450px 200px ;
	grid-template-areas: "headerLogo  headerTitulo  headerTitulo    headerTitulo   "
						 "headerLogo  headerMenu    headerMenu      headerMenu     "	
						 "subtitulos  subtitulos    subtitulos      subtitulos     "
						 "contenido   contenido     listaContenido  listaContenido "
						 "footer      footer        footer          footer         "


}
@keyframes animacion {
  from {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  to {
    transform: scale(1); } }


.headerLogo{
	grid-area:headerLogo;
	background: #48C9B0;
}

.headerTitulo{
	grid-area:headerTitulo;
	background: #48C9B0;
}

.headerMenu{
	grid-area:headerMenu;
	background: #48C9B0;
}

.subtitulos{
	grid-area:subtitulos;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: space-around;
	align-items: space-around;
	justify-content: space-evenly;
	align-content:space-around;
	padding: 20px;
	background-color: #FFA07A;
		
}

.contenido{
	grid-area:contenido;
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	background-color: #FFA07A;
}

.listaContenido{
	grid-area:listaContenido;
	display: flex;
	flex-direction: columns;
	justify-content: center; 
	align-items: center;
	background-color: #FFA07A;	
}

.footer{
	grid-area:footer;
	color:red;
	font-weight: bold;
	text-align: center;
	background-color: #48C9B0;	
}

.fotos{
 	padding: center;
 	height: 200px;
 	width: 300px;
}
.titulos{
	color:red;
	font-size: 54px;
	font-family: 'Nova Flat', cursive;
	background-image: linear-gradient(to left, violet,green, yellow, pink);
	border: double 10px blue;
	width: 770px;
	height: 100px;
	text-align: center;
	animation: animacion 6s infinite;
}

.Menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	align-items: center;
	
}

.nosotros{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	align-items: center;
}

.contenedor{
	width:100%;
	height: 100%;
	display: grid;
	grid-template-columns: 50% 50% 50% 50%;
	position: relative;
	animation: anima 5s infinite;
}
